<%- include('./header.ejs') %>
<br><br><br>
    <section class="dashboard-wrap mtb-40">
    	<div class="container" data-aos="zoom-in" data-aos-delay="100" data-aos-duration="800">
            <div class="body-content">
        		<div class="row">
        			<div class="col-md-3">
                        <div class="dash-left">
                            <ul style="font-family: sans-serif; font-weight: bold;">
                                <li class="active"><a href="/dashboard" class="nav-link">Dashboard</a></li>
                                <li><a class="nav-link" href="/adminBlogList">Blogs</a></li>
                                <li><a class="nav-link active" href="/categories">Categories</a></li>
                                <li><a class="nav-link" href="/pages">Pages</a></li>
                                <li><a class="nav-link" href="/messageView">Messages</a></li>
                                <li><a class="nav-link" href="/logout">Logout</a></li>
                            </ul>
                        </div>   
                    </div>
                    <div class="col-md-9">
                        <div class="dash-right">
                            <div class="container">
                                <img src="<%= blogs.img_url %>" alt="vlog-img" style="height: 250px; width: auto;">
                                <br><br>
                                <h5 style="font-family: sans-serif; font-weight: bold;"><%= blogs.title %> </h5>
                                <br>
                                <p style="font-family: sans-serif;">by <span><%= admin.name %></span> on <span><%= blogs.updatedAt %></span></p>
                                <div class="blog-desc">
                                    <p style="font-family: sans-serif;"><%= blogs.description %></p>
                                </div>
                            </div>
                        </div>   
                    </div>
        		</div>
            </div>
    	</div>
    </section>
<%- include('../footer.ejs') %>